OOPS CONCEPT IN PYTHON

In [ ]:
#Global variable
##Local cariable
###polymorphism
###inheritance
###encapsulation

In [43]:
class Class_name:
    pass

In [ ]:
class Student:
    name = "Sidra" ###class variable
    age = 20 ###class variable
    print(f"my name is {name} and my age is  {age}")
obj_st=Student()

my name is Sidra and my age is  20

In [9]:
obj_st.name

'Sidra'

In [10]:
obj_st.age

20

In [ ]:
class Student:
    name = "Sidra"
    age = 20
    def info(self):## info is method and self is parameter or object keyword
        print("this is my first menthod")
        print("How are u all")

dt_obj = Student()

In [14]:
dt_obj.info()

this is my first menthod
How are u all

In [23]:
class Student:
    name = "Sidra"
    age = 20
    def info(self):## info is method and self is parameter or object keyword
        print(name)
        print(age)

dt_obj = Student()

In [21]:
class Student:
    name = "Sidra"
    age = 20
    def info(self):## info is method and self is parameter or object keyword
        print(f"my name is {self.name} and my age is {self.age}")
        #print(age)

dt_obj = Student()

In [22]:
dt_obj.info()

my name is Sidra and my age is 20

Inheritance

|#types of inheritance

single inheritance

multiple inheritance

multilevel inheritance

hierarchical inheritance

hybrid inheritance

In [25]:
class College:
    pass
class Student:
    pass

In [26]:
###single inheritance
class College:
    pass
class Student(College):
    pass

In [28]:
class College:
    college_name= "Graphic Era University"
    college_adress = "Dehradun"
class Student(College):
    student_name = "Sidra"
    student_id = "24022595"
st_obj = Student()
print(st_obj.college_name)
print(st_obj.college_adress)
print(st_obj.student_name)
print(st_obj.student_id)

Graphic Era University
Dehradun
Sidra
24022595

In [31]:
st_obj.info()

AttributeError: 'Student' object has no attribute 'info'

In [35]:
###multiple inheritance
class Father:
    father_name = "Sidra"
    father_id = "1234"
class Uncle:
    uncle_name = "Mu"
class Child(Father,Uncle):
    pass

obj_child = Child()
print(obj_child.father_name)
print(obj_child.father_id)
print(obj_child.uncle_name)

Sidra
1234
Mu

In [37]:
##Multilevel inheritance
class Grandfather:
    grandfather_name = "Ritik"
    grandfather_id = "12345"
class Father(Grandfather):
    father_name = "Rohit Kumar"
    father_id ="12345"
class Child(Father):
    pass

obj_child = Child()
print(obj_child.grandfather_name)
print(obj_child.grandfather_id)
print(obj_child.father_name)
print(obj_child.father_id)

Ritik
12345
Rohit Kumar
12345

Polymorphishm

In [38]:
print("hello")

hello

In [39]:
lst =[1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [40]:
type(lst)

list

In [41]:
type("hello")

str

In [ ]:
= and == and is

In [ ]:
##Encapsulation
#private,public,protected
class Student:
    __name = "ritik"
    age = 20
    _id= "1234"
st_obj = Student()

In [3]:
st_obj.age

20

In [11]:
st_obj._id

AttributeError: 'Student' object has no attribute '_id'

In [6]:
st_obj._Student__name

'ritik'

In [ ]:
#bank

#account number
#method
#adress
#balance
#phone number
#total balance

#class
#method
#inheritance

#task 1>>>> super function
#rask2>>>>> BMI Calculator class

In [14]:
class Bank:
    __accountnumber = "1234"
    name = "Sidra"
    address = "Mumbai"
    phone_number = "1234455"
    balance = 0
    def info(self):
        print("this is bank class")
        print("my totalbalance is",self.balance)

    obj_bank = Bank()

NameError: name 'Bank' is not defined

In [ ]:
obj_bank.info()

In [15]:
###constructor
# init method
#__init__

class Student:
    def __init__(self):
        pass

In [17]:
class Student:
    def __init__(self):
        pass
Student()

In [19]:
class Student:
    def __init__(self,name,age):
        self.name  = name
        self.age = age

obj_st = Student(name = "Sidra", age=22)
obj_st.name

'Sidra'

In [20]:
obj_st.age

22

In [21]:
class Student:
    def __init__(self,name,age):
        self.name  = name
        self.age = age

obj_st = Student(name = "Sidra", age=22)

print(obj_st.name)
print(obj_st.age)

Sidra
22

In [26]:
class Student:
    def __init__(self, name, age, address):
        self.name = name
        self.age= age
        self.address = address

        def display(self):
            print(f"my name is {self.name} and my age is {self.age} and my adress is {self.address}")

obj_st=Student(name="Sidra", age=22, address ="Mumbai")

In [27]:
obj_st.display()

AttributeError: 'Student' object has no attribute 'display'

In [3]:
class Bank:
    def __init__(self,name,amount,age, account_number,phone_number, address):
        self.name = name
        self.age = age
        self.amount = amount

        self.__account_number = account_number
        self.phone_number = phone_number
        self.address = address
    def deposit(self, amount):
        self.amount = self.amount + amount
        return self.amount
    def withdraw(self, amount):
        self.amount = self.amount - amount
        return self.amount
    def total_balance(self):
        return self.amount
    def info(self):
        print("your name: ",self.name)
bn_obj = Bank(name = "ritik", amount =1000, age=22, account_number="1234",phone_number="12345678",address="Mumbai")

In [31]:
bn_obj.address

'Mumbai'

In [4]:
bn_obj.deposit(500)

1500

In [33]:
bn_obj.total_balance